<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"
         name="TodoContext"
         connectionString="Server=08324418-1564-49bd-a270-a1c601832392.sqlserver.sequelizer.com;Database=db08324418156449bda270a1c601832392;User ID=ldplsqfcwlkkrzwg;Password=S4GPcnTTaFBWvyNrNCjkAnRLXqQkrgeAAbUarHHnw2AjkyRBUhSkTRVEm5ZTEHB2;" />
  </connectionStrings>
</configuration>